basic_requirements_notes.txt
audiodata.js
audio/
assets/
old/
# Testing modularization, not entirely ready yet
components/*AudioPlayer.js
components/*Nav.js
# Testing proper Vue SPA stuff, not ready yet
views/
router/