/*
*  Local Space Patrol
*  Audio Player Styles
*  Author: Aron Riesenfeld
*/

#audio-player {
  width: 40%;
  /* vertical-align: middle; */
  background-color: aquamarine;
  /* color: aquamarine; */
}
.audio-button {
  width: 10%;
  background-color: transparent;
  border: none;
}

.audio-icon {
  /* background-image: url("assets/play.png"); */
  height: 18px;
  width: 18px;
}
