/*
*  Local Space Patrol
*  Audio Player Styles
*  Author: Aron Riesenfeld
*/

.audio-player {
  margin-bottom: 1%;
  margin-left: 10%;
  width: 80%;
  /* height: 20%; */
  /* vertical-align: middle; */
  background-color: aquamarine;
  /* color: aquamarine; */
}
.audio-button {
  width: 10%;
  background-color: transparent;
  border: none;
}

.audio-icon {
  /* background-image: url("assets/play.png"); */
  height: 18px;
  width: 18px;
}

.audio-seeker {
  width: 60%;
  /* width: 300px; */
}

.audio-current-time {
  margin-right: 2%;
}

.audio-duration {
  margin-left: 2%;
}
