/*
*  Local Space Patrol
*  Main Styles
*  Author: Aron Riesenfeld
*/

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: "Orbitron", sans-serif;
}

.content {
  /*Photo by <a href="https://freeimages.com/photographer/davidcowan-54040">David Cowan</a> from <a href="https://freeimages.com">FreeImages</a>*/
  background: url("assets/distant-star-by-david-cowan-1629770.jpg");
  background-size: cover;
  background-blend-mode: screen;
  height: 100vh;
}

nav {
  background: linear-gradient(to bottom, rgba(65, 225, 225, 0.4) 10%, rgba(225, 65, 172, 0.4) 80%);
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav a {
  margin-top: 10vh;
  text-decoration: none;
  text-shadow: 0.5px 0.5px white;
  font-size: 1.2rem;
  color: black;
}

main {
  width: 100%;
  height: 80%;
  display: grid;
}

main h1 {
  font-size: 6vw;
  margin-top: 10vh;
  color: rgba(20, 20, 200, 1);
  mix-blend-mode: screen;
}

main h2 {
  margin-top: 5vh;
  font-size: 4.5vw;
  color: rgba(20, 20, 150, 1);
  mix-blend-mode: overlay;
}

.header {
  text-align: center;
  text-shadow: 1px 1px palevioletred;
}

.email {
  /* margin-top: 10vh;
  font-size: 3.5vw;
  text-align: center;
  text-shadow: 1px 1px palevioletred;
  color: rgba(20, 20, 150, 1);
  mix-blend-mode: overlay; */
}
footer {
  display: flex;
  justify-content: space-around;

  position: absolute;
  bottom: 3vh;
  width: 100%;

  font-size: 2.5vw;
  /* color: rgba(20, 20, 150, 1); */
  /* mix-blend-mode: difference; */
}

a {
  color: rgba(150, 20, 150, 1);
  text-shadow: 1px 1px rgba(20, 20, 80, 1);
  /* mix-blend-mode: screen; */
}

#audio-container {
  width: 66%;
  margin-top: 5vh;
  margin-left: 17%;
}

/* Media Queries */
/************************/

/*If height > width*/
@media (max-aspect-ratio: 1/1) {
  .header {
  }
  main h1 {
    font-size: 7.5vw;
    mix-blend-mode: screen;
  }
  main h2 {
    font-size: 6.5vw;
    margin-top: 0vh;
    mix-blend-mode: screen;
  }
  .email {
    /* margin-top: 3vh; */
    /* mix-blend-mode: screen; */
  }
  #audio-container {
    margin-top: 0vh;
  }
}

/*If wider than 16:9*/
@media (min-aspect-ratio: 16/9) {
}
