/*
*  Local Space Patrol
*  Audio Player Styles
*  Author: Aron Riesenfeld
*/

#audio-container {
  width: 66%;
  margin-left: 17%;
}

.audio-player {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1%;
  width: 100%;
  height: 12vh;
  background-color: rgba(20, 20, 20, 0.7);
  color: rgba(200, 200, 200, 0.85);
}

.audio-title {
  width: 100%;
  font-size: 2vw;
}

/*The row of interactibles and timestamps below the track title. For reliable responsive centering*/
.audio-ui-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 6vh;
}

.audio-button {
  width: 10%;
  background-color: transparent;
  border: none;
}

.audio-icon {
  height: 3vh;
  width: 3vh;
  filter: invert(60%);
}

.audio-seeker {
  width: 60%;
}

.audio-current-time {
  display: inline-block;
  width: 15%;
  text-align: center;
  font-size: 2vw;
}

.audio-duration {
  display: inline-block;
  width: 15%;
  text-align: center;
  font-size: 2vw;
}

/* Seeker Bar Styles */
/**********************************/
input[type='range'] {
  -webkit-appearance: none;
  background: transparent;
}
input[type='range']::-webkit-slider-runnable-track {
  height: 2px;
  cursor: pointer;
  background: linear-gradient(
    to right,
    rgba(65, 225, 225, 0.6) 0%,
    rgba(225, 65, 172, 0.6) 100%
  );
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  height: 15px;
  width: 15px;
  border-radius: 25px;
  background: linear-gradient(
    to right,
    rgba(65, 225, 225, 0.6) 0%,
    rgba(225, 65, 172, 0.6) 100%
  );
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type='range']::-moz-range-track {
  height: 2px;
  cursor: pointer;
  background: linear-gradient(
    to right,
    rgba(65, 225, 225, 0.6) 0%,
    rgba(225, 65, 172, 0.6) 100%
  );
}
input[type='range']::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 25px;
  background: linear-gradient(
    to right,
    rgba(65, 225, 225, 0.6) 0%,
    rgba(225, 65, 172, 0.6) 100%
  );
  cursor: pointer;
}
input[type='range']::-ms-track {
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: white;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type='range']::-ms-fill-upper {
  background: white;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type='range']::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}

/* Media Queries */
/************************/

/*If height >= width */
@media (max-aspect-ratio: 1/1) {
  #audio-container {
    width: 70%;
    margin-left: 15%;
  }
  .audio-player {
    height: 7vh;
  }
  .audio-ui-container {
    height: 3.5vh;
  }
  .audio-icon {
    height: 2.5vh;
    width: 2.5vh;
  }
}

/* If height >= 120% of width and width is <= 500px */
@media (max-aspect-ratio: 4/5) and (max-width: 500px) {
  #audio-container {
    width: 90%;
    margin-left: 5%;
  }
}

/*If aspect ratio is 16:9 or wider */
@media (min-aspect-ratio: 16/9) {
  .audio-player {
    height: 15vh;
  }
  .audio-ui-container {
    height: 7.5vh;
  }
  .audio-icon {
    height: 4vh;
    width: 4vh;
  }
}
