/*
*  Local Space Patrol
*  Main Styles
*  Author: Aron Riesenfeld
*/
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/static/Orbitron-Regular.ttf') format('truetype');
}
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
}

.content {
  /*Photo by <a href="https://freeimages.com/photographer/davidcowan-54040">David Cowan</a> from <a href="https://freeimages.com">FreeImages</a>*/
  background: url('~static/distant-star-by-david-cowan-1629770.jpg');
  background-size: cover;
  height: 100vh;
}

main {
  width: 100%;
  padding-top: 10vh;
}

h1 {
  height: 25vh;
  font-size: 6vw;
  color: rgba(20, 20, 200, 1);
  mix-blend-mode: screen;
}

h2 {
  margin-top: 5vh;
  height: 10vh;
  font-size: 4.5vw;
  color: rgba(20, 20, 150, 1);
  mix-blend-mode: screen;
}

.header {
  text-align: center;
  text-shadow: 1px 1px palevioletred;
}

/* Media Queries */
/************************/

@media (max-aspect-ratio: 1/1) {
  nav {
    height: 10vh;
    align-items: center;
  }
  h1 {
    font-size: 7.5vw;
  }
  h2 {
    font-size: 6.5vw;
  }
}

/* @media (min-aspect-ratio: 16/9) {
  h2 {
    height: 20vh;
  }
} */
